<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

<body>
    <!-- component -->
    <div class=" flex  flex-col   md:flex-row justify-center  flex-wrap grid grid-cols-2 md:grid-cols-4 gap-1 mt-2 ">
        <a href="#guia" class="">
            <div
                class="container text-center mx-auto p-9 bg-white max-w-sm rounded-2xl overflow-hidden shadow-xl hover:shadow-2xl transition duration-300">
                <div class="flex justify-center">


                    <svg class="h-16 text-gray-600" xmlns="http://www.w3.org/2000/svg" class="h-2 w-6"
                        viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M3 5a2 2 0 012-2h10a2 2 0 012 2v8a2 2 0 01-2 2h-2.22l.123.489.804.804A1 1 0 0113 18H7a1 1 0 01-.707-1.707l.804-.804L7.22 15H5a2 2 0 01-2-2V5zm5.771 7H5V5h10v7H8.771z"
                            clip-rule="evenodd" />
                    </svg>

                </div>

                <div class="flex justify-center text-center items-center">
                    <div>
                        <h1 class="mt-5 ">GUÍA DE COMPRA</h1>

                    </div>
                </div>
            </div>
        </a>
        <a href="#precios">
            <div
                class="container justify-center mx-auto p-9 bg-white max-w-sm rounded-2xl overflow-hidden shadow-xl hover:shadow-2xl transition duration-300">
                <div class="flex justify-center items-center">

                    <svg class="h-16  text-gray-600" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                    </svg>

                </div>

                <div class="flex justify-center  text-center items-center">
                    <div>
                        <h1 class="mt-5 ">PRECIOS Y PROMOCIONES</h1>

                    </div>
                </div>
            </div>
        </a>
        <a href="#medios">
            <div
                class="container text-center mx-auto p-9 bg-white max-w-sm rounded-2xl overflow-hidden shadow-xl hover:shadow-2xl transition duration-300">

                <div class="flex justify-center">

                    <svg class="h-16  text-gray-600" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z" />
                    </svg>

                </div>

                <div class="flex justify-center text-center items-center">
                    <div>
                        <h1 class="mt-5 ">MEDIOS Y FORMAS DE PAGO</h1>

                    </div>
                </div>
            </div>
        </a>
        <a href="#envio">
            <div
                class="container mx-auto p-9 bg-white max-w-sm rounded-2xl overflow-hidden shadow-xl hover:shadow-2xl transition duration-300">
                <div class="flex justify-center">

                    <svg class="h-16  text-gray-600" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor">
                        <path d="M9 17a2 2 0 11-4 0 2 2 0 014 0zM19 17a2 2 0 11-4 0 2 2 0 014 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M13 16V6a1 1 0 00-1-1H4a1 1 0 00-1 1v10a1 1 0 001 1h1m8-1a1 1 0 01-1 1H9m4-1V8a1 1 0 011-1h2.586a1 1 0 01.707.293l3.414 3.414a1 1 0 01.293.707V16a1 1 0 01-1 1h-1m-6-1a1 1 0 001 1h1M5 17a2 2 0 104 0m-4 0a2 2 0 114 0m6 0a2 2 0 104 0m-4 0a2 2 0 114 0" />
                    </svg>

                </div>

                <div class="flex justify-center text-center items-center">
                    <div>
                        <h1 class="mt-5 ">ENVÍO Y ENTREGA</h1>

                    </div>
                </div>
            </div>
        </a>
        <a href="#tiempos">
            <div
                class="container mx-auto p-9 bg-white max-w-sm rounded-2xl overflow-hidden shadow-xl hover:shadow-2xl transition duration-300">
                <div class="flex justify-center ">

                    <svg class="h-16  text-gray-600" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>

                </div>

                <div class="flex justify-center text-center items-center">
                    <div>
                        <h1 class="mt-5 ">TIEMPOS DE COBERTURA POR ZONA AEX</h1>

                    </div>
                </div>
            </div>
        </a>

        <a href="#cambios">
            <div
                class="container mx-auto p-9 bg-white max-w-sm rounded-2xl overflow-hidden shadow-xl hover:shadow-2xl transition duration-300">
                <div class="flex justify-center ">

                    <svg class="h-16  text-gray-600" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15" />
                    </svg>

                </div>

                <div class="flex justify-center text-center items-center">
                    <div>
                        <h1 class="mt-5  ">CAMBIOS Y DEVOLUCIONES</h1>

                    </div>
                </div>
            </div>
        </a>
        <a href="pre">
            <div
                class="container mx-auto p-9 bg-white max-w-sm rounded-2xl overflow-hidden shadow-xl hover:shadow-2xl transition duration-300">
                <div class="flex justify-center ">

                    <svg class="h-16  text-gray-600" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M7 7h.01M7 3h5c.512 0 1.024.195 1.414.586l7 7a2 2 0 010 2.828l-7 7a2 2 0 01-2.828 0l-7-7A1.994 1.994 0 013 12V7a4 4 0 014-4z" />
                    </svg>

                </div>

                <div class="flex justify-center text-center items-center">
                    <div>
                        <h1 class="mt-5 ">PRE ORDER</h1>

                    </div>
                </div>
            </div>
        </a>
        <a href="#contacto">
            <div
                class="container mx-auto p-9 bg-white max-w-sm rounded-2xl overflow-hidden shadow-xl hover:shadow-2xl transition duration-300">
                <div class="flex justify-center ">

                    <svg class="h-16  text-gray-600" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                    </svg>
                    
                </div>

                <div class="flex justify-center text-center items-center">
                    <div>
                        <h1 class="mt-5 ">CONTACTO</h1>

                    </div>
                </div>
            </div>
        </a>
    </div>

    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe at, vitae, fugiat reiciendis hic nesciunt veritatis
    debitis quas modi fugit accusantium aut ut rerum sint. Iste quam vitae repudiandae officiis?
    lorem ips
    lorem ipsum dolor sit am
    lorem urn
    lorenskog
    lorem
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe at, vitae, fugiat reiciendis hic nesciunt veritatis
    debitis quas modi fugit accusantium aut ut rerum sint. Iste quam vitae repudiandae officiis?
    lorem ips
    lorem ipsum dolor sit am
    lorem urn
    lorenskog
    lorem
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe at, vitae, fugiat reiciendis hic nesciunt veritatis
    debitis quas modi fugit accusantium aut ut rerum sint. Iste quam vitae repudiandae officiis?
    lorem ips
    lorem ipsum dolor sit am
    lorem urn
    lorenskog
    lorem
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe at, vitae, fugiat reiciendis hic nesciunt veritatis
    debitis quas modi fugit accusantium aut ut rerum sint. Iste quam vitae repudiandae officiis?
    lorem ips
    lorem ipsum dolor sit am
    lorem urn
    lorenskog
    lorem
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe at, vitae, fugiat reiciendis hic nesciunt veritatis
    debitis quas modi fugit accusantium aut ut rerum sint. Iste quam vitae repudiandae officiis?
    lorem ips
    lorem ipsum dolor sit am
    lorem urn
    lorenskog
    lorem
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe at, vitae, fugiat reiciendis hic nesciunt veritatis
    debitis quas modi fugit accusantium aut ut rerum sint. Iste quam vitae repudiandae officiis?
    lorem ips
    lorem ipsum dolor sit am
    lorem urn
    lorenskog
    lorem
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe at, vitae, fugiat reiciendis hic nesciunt veritatis
    debitis quas modi fugit accusantium aut ut rerum sint. Iste quam vitae repudiandae officiis?
    lorem ips
    lorem ipsum dolor sit am
    lorem urn
    lorenskog
    lorem

    <h1 id="guia">Guia</h1>
    <style>
        .wpcf7-form{
            border: 1px solid;
        }
    </style>

</body>

</html>